*.o
*.log
*.trs
*.lo
Makefile
Makefile.in
.libs
.deps
*.la
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
